{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register for User Account</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                
            </br></br>
<!-- <input type="text" value="{{form}}"/> -->
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" style="float: left">Username</label>
                  <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Enter your username">
                  
                  {% for error in form.username.errors %}			 
                  <small class="text-danger" style="float: left">{{ error|escape }}</small>			 
                  {% endfor %}    
                  
                </div>
                </br>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" style="float: left">Email address</label>
                  <input type="text" class="form-control" name="email" value="{{email}}" placeholder="Enter your email address">
                  {% for error in form.email.errors %}			 
                  <small class="text-danger" style="float: left">{{ error|escape }}</small>			 
                  {% endfor %}    
                  
                </div>
            </br>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" style="float: left">First Name</label>
                  <input type="text" class="form-control" name="first_name" value="{{first_name}}" placeholder="Enter your first name">
                  {% for error in form.first_name.errors %}			 
                  <small class="text-danger" style="float: left">{{ error|escape }}</small>			 
                  {% endfor %}    
                  
                </div>
            </br>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label" style="float: left">Last Name</label>
                  <input type="text" class="form-control" name="last_name"  value="{{last_name}}" placeholder="Enter your last name">
                  {% for error in form.last_name.errors %}			 
                  <small class="text-danger" style="float: left">{{ error|escape }}</small>			 
                  {% endfor %}    
                  
                </div>
            </br>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label" style="float: left">Password</label>
                  <input type="password" class="form-control" name="password" value="{{password}}" placeholder="Enter your password">
                  {% for error in form.password.errors %}			 
                  <small class="text-danger" style="float: left">{{ error|escape }}</small>			 
                  {% endfor %}    
                  
                </div>
            </br>
                <button type="submit" class="btn btn-secondary" style="float: left" value="submit">Register</button>
            </form>
                <p align="justify">
                    
                
               
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
            </br></br>
             

            </p>
        </br></br>
            </div>
        </center>
    </div>
</div>

{% endblock %}